---
title: Techy stuff
layout: layouts/home.njk
description: Anuar's blog.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  Documenting my thoughts on SWE, ML and tangent topics
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>